<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @subject.position %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @subject.visible %>
</p>

<p>
  <strong>Created:</strong>
  <%= @subject.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @subject.updated_at %>
</p>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
